/* LOGIN FORM */
.success_div
{ 
    text-align:left;
    margin-top:70px; 
    width:96%; 
    letter-spacing:3px;
}
.success_label
{  
    color:green; 
    font-size:2em;
    letter-spacing:3px;
}
