 
.group_list
{
    text-align: center;
    margin-bottom: 40px; 
    margin-top:10%;
}
.groupname
{ 
    padding-top:20px;
    color: white; 
    border: 1px solid white;  
    width: 60px;
    height:60px;
    border-radius: 20px;
    background-color:  #3283B0;
    display: inline-block;
}
.group_list a
{   
    text-align: center;
}
 