.slideout-panel{
	height:560px;
	width:100%;
}
.swiper-pagination{
	bottom:20px;
	width:100%;
}
.swiper-pagination-bullet{
	margin:0px 5px;
}
.swiper-slide1{
	background-image: url(/static/img/slider1.png);
	background-size:100%;
}
h1{
	font-size: 29pt;
	color: #360000; 
	font-family:Tahoma;
	text-align:center;
	position:relative;
	top:75%;
}
