.slideout-panel {
	height: 560px;
	width: 100%;
}
.swiper-pagination {
	bottom: 20px;
	width: 100%;
}
.swiper-pagination-bullet {
	margin: 0px 5px;
}
.swiper-slide1 {
	background-image: url(/static/img/slider1.png);
	background-size: 100%;
}
.container{
	position:relative;
	top:25%;
}
.swiper-slide>p{
	color:#FFF000;
}
.content{
	 vertical-align:middle;/*此处为邀请函文本内容，为什么不垂直居中*/
}
.alightLeft{
	width:100%;
	text-align:left;
}
.box{
	
}	

.silder_content
{
	background-image: url(/static/img/slider2.png);
	background-size: 100%;
}