{% load admin_static %}{% load firstof from future %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"zh-CN" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title> {% block title %}{% endblock %}</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
<meta charset="utf-8"/> 
{% block blockbots %} 
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/> 
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 
{% endblock %} 
{% block extrastyle %} 
<link rel="stylesheet"  href="/static/js/bootstrap-3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet"  href="/static/js/jquery.message.css" /> 
<link rel="stylesheet" href="/static/css/base.css"/> 
<link rel="stylesheet" href="/static/css/menu/styles.css"/> 
{% endblock %}
{% block jquery %}
<script type="text/javascript"  src="/static/js/jquery-1.9.1.js" charset="utf-8" ></script>
{% endblock %}
{% block extrahead %} 
<script type="text/javascript"  src="/static/js/bootstrap-3.3.7/js/bootstrap.min.js" charset="utf-8" ></script>
{% endblock %}
</head>
{% load i18n %}

<body >
    <div class="menu-holder "> 
        <div class="container"> 
            <div class="row">
                <div class="col-sm-3 col-xs-3 col-md-3"> 
                    <a href="/"><img  class="menu-img" src="/static/img/golf1.jpg"></a> 
                    <strong > </strong>
                </div>
               
                
            </div> <!--row-->
        </div> <!--container-->
    </div>  <!--menu-holder-->
    {% block fullwidth %}
    {% endblock %}
 

    <div class="container"> 
          {% block content %} 
            <div >   
            </div> 
           {% endblock %} 
            <input type="hidden" id="is_authenticated" value="{{request.user.is_authenticated}}"/>
        
            {% block footer_script %}
                <script type="text/javascript"  src="/static/js/jquery.message.js"></script>    
            {% endblock %}
            
             
    </div>
	 
    {% block footer %}
         
    {% endblock %}
     
</body>
</html>
