{% extends "admin/m_base_site.html" %}
 {% block title %}{% endblock %} 
{% block extrahead %} {{ block.super }} 

{{ media }}
{% endblock %}
{% block extrastyle %}{{ block.super }} 
<link rel="stylesheet" href="/static/css/m_success.css"/>
{% endblock %}
 
 {% block coltype %}colM{% endblock %} 
 {% block bodyclass %}{{ block.super }} 
 app-{{ opts.app_label}} 
 model-{{ opts.model_name }} 
 change-form{% endblock %} 

		 
		
{% block content %}
  <div class="success_div">
  <label class="success_label">{{msg}}</label>
  </div>
 {% endblock %}
 {% block footer %}
 {% endblock %}